<!doctype html>
<html lang="en" ng-app="hfinApp">
<head>
<meta charset="UTF-8">
<title>Mailchimp integration</title>
<style>
iframe.mailchimpFrame {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    border: 1px solid #ccc;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
</head>
<body ng-controller="MailchimpController">
<h1>Mailchimp integration</h1>
<h2>Connection status</h2>
<p ng-cloak>{{status.connected ? "Connected" : "Not connected"}}. {{status.message}}</p>
<button ng-hide="status.connected" ng-click="linkAccount()">Link Mailchimp account</button>
<button ng-hide="!status.connected" onclick="unlinkAccount()">Unlink Mailchimp account</button>
<h2>Synchronized lists</h2>
<p ng-hide="status.connected">Link an account first...</p>
<p ng-hide="!status.connected">
    <select ng-model="newPair.mailchimpListId">
        <option value="">Select Mailchimp list</option>
        <option ng-repeat="list in status.mailchimpLists" value="{{list.id}}">{{list.title}} ({{list.count}} emails)</option>
    </select>
    link to
    <select ng-model="newPair.cloudListId" ng-change="onCloudListChanged()">
        <option value="">Select Cloud Docs list</option>
        <option value="+">Create new list</option>
        <option ng-repeat="list in status.cloudLists" value="{{list.id}}">{{list.title}} ({{list.count}} emails)</option>
    </select>
    <button ng-disabled="">Sync</button>
</p>

<iframe class="mailchimpFrame" ng-cloak ng-if="showMailchimpFrame" ng-src="https://login.mailchimp.com/oauth2/authorize?response_type=code&client_id=755469067161&redirect_uri=https%3A%2F%2Fapi.hfinone.com%2Fmailchimp%2Fcomplete.php"></iframe>

<script>
"use strict";

var userId = 1969475452;
var hfinApp = angular.module("hfinApp", []);

hfinApp.controller("MailchimpController", function ($scope, $http){
//    $scope.status = {connected: true, message: "all good"};
    updateStatus($scope, $http);

    $scope.newPair = {mailchimpListId: "", cloudListId: ""};

    $scope.linkAccount = function(){
        $scope.showMailchimpFrame = true;
        window.receiveCode = function(code){
            $scope.showMailchimpFrame = false;
            $scope.$apply();
            $http.get("saveKey.php?user=" + userId + "&apiKey=" + code)
                    .success(function () {
                        updateStatus($scope, $http);
                    });
        }
    };

    $scope.onCloudListChanged = function(){
        if ($scope.newPair.cloudListId == "+"){
            var title = prompt("Enter new list title");
            if (title == null) {
                $scope.newPair.cloudListId = "";
                return;
            }
            $http.get("createList.php?user=" + userId + "&title=" + encodeURIComponent(title))
                    .success(function(data){
                        $scope.status.cloudLists.push({id: data.id, title: title, count: 0});
                        $scope.newPair.cloudListId = data.id;
                    });
        };
    };
});

function updateStatus($scope, $http) {
    $http.get("mailchimpStatus.php?user=" + userId)
            .success(function (data) {
                $scope.status = data;
            });
}

function unlinkAccount(){
    $.ajax({
        url: "saveKey.php",
        data: {userId: userId},
        dataType: "json",
        success: function () {
            updateStatus();
        }});
}

</script>
</body>
</html>